---
import Layout from "src/layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";
import Mockup from "@components/blocks/Mockup.astro";
export async function getStaticPaths() {
  const pagesCollection = await getCollection("pages");
  const projectsCollection = await getCollection("projects");

  const getReturnData = (
    collection: CollectionEntry<"pages">[] | CollectionEntry<"projects">[]
  ) => {
    return collection.map((page) => {
      const [locale, ...rest] = page.slug.split("/");
      const slug = rest.join("/");
      return {
        props: {
          entry: page,
        },
        params: {
          locale,
          slug,
        },
      };
    });
  };

  const pagesReturnData = await getReturnData(pagesCollection);
  const projectsRturnData = await getReturnData(projectsCollection);

  return pagesReturnData.concat(projectsRturnData);
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const cta = entry.data.cta ? entry.data.cta : undefined;

export const prerender = true;
---

<Layout title={entry.data.title} cta={cta}>
  <main>
    <div class="container mt-6">
      <h1
        class="font-bebas text-5xl lg:text-7xl tracking-wider text-stroke-black"
      >
        {entry.data.title}
      </h1>
    </div>
    <Content />
    <Mockup
      desktopVideo="https://angelokeirsebilck.ams3.cdn.digitaloceanspaces.com/ak-astro%2Fvideos%2Fkerotec.mp4"
      mobileImage="https://angelokeirsebilck.ams3.cdn.digitaloceanspaces.com/ak-astro%2Fimages%2Fkerotec-mobile-static.jpg"
    />
  </main>
</Layout>
