---
import Layout from "src/layouts/Layout.astro";

import { CollectionEntry, getCollection } from "astro:content";
import Projects from "@components/blocks/Projects.astro";
import Cta from "@components/blocks/Cta.astro";

export async function getStaticPaths() {
  const homeCollections = await getCollection("home");

  const getReturnData = (collection: CollectionEntry<"home">[]) => {
    return collection.map((page) => {
      return {
        props: {
          entry: page,
        },
        params: {
          locale: page.slug,
        },
      };
    });
  };

  const pagesReturnData = await getReturnData(homeCollections);
  return pagesReturnData;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

export const prerender = true;
---

<Layout title={entry.data.title}>
  <main>
    <Content />
    <Projects
      bgColor={"white"}
      projectsLink={{
        label: "Bekijk alle projecten",
        uri: "/nl/projecten",
        style: {
          intent: "pink",
          size: "medium",
        },
      }}
    />
    <Cta
      link={{
        style: {
          intent: "green",
          size: "medium",
        },
        uri: "/nl/contact",
        label: "Afspraak maken",
      }}
      title="Klaar om samen te werken?"
      text="Vraag vrijblijvend een offerte aan of maak een afspraak voor een gesprek"
    />
  </main>
</Layout>
