---
---

<div
  class="w-[75px] h-[75px] bg-pink-default rounded-full cursor-pointer flex justify-center border-4 hover:shadow-neo-2px-hover shadow-neo-2px border-black-default items-center stroke-black-default transition-all duration-300 hover:stroke-white"
>
  <svg
    width="30"
    height="29"
    viewBox="0 0 30 29"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M27.5694 27.1627C28.7466 22.7694 28.1303 18.0884 25.8562 14.1495C23.5821 10.2106 19.8364 7.33641 15.4431 6.15924C11.0498 4.98206 6.36883 5.59832 2.42992 7.87245M2.42992 7.87245L7.6919 10.6344M2.42992 7.87245L2.80425 2.16873"
      stroke="inherit"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div>
