---
---

<div
  class="lg:w-[75px] w-[50px] h-[50px] lg:h-[75px] bg-pink-default rounded-full cursor-pointer flex justify-center border-4 hover:shadow-neo-2px-hover shadow-neo-2px border-black-default items-center stroke-black-default transition-all duration-300 lg:hover:stroke-white"
>
  <svg
    width="25"
    height="35"
    viewBox="0 0 25 35"
    class="w-5 lg:w-6"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.85178 2.13859C1.57765 6.0775 0.961389 10.7585 2.13857 15.1518C3.31574 19.545 6.18993 23.2908 10.1288 25.5649C14.0678 27.839 18.7487 28.4553 23.142 27.2781M23.142 27.2781L18.7742 23.2484M23.142 27.2781L21.3042 32.6906"
      stroke="inherit"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div>
