---
import logo from "@assets/svg/angelo-keirsebilck-web-dev-white.svg";
import Container from "@components/base/Container.astro";

const url = Astro.url;
const [, locale] = url.pathname.split("/");

const navListNL = [
  {
    uri: "/nl",
    label: "Home",
  },
  {
    uri: "/nl/projecten",
    label: "Projecten",
  },
  {
    uri: "/nl/werkwijze",
    label: "Werkwijze",
  },
  {
    uri: "/nl/contact",
    label: "Contact",
  },
];
---

<Container bgColor={"black"}>
  <div class="default-grid">
    <div class="col-span-full lg:col-span-6">
      <a href={`/${locale}`}>
        <img
          src={logo}
          alt="Angelo Keirsebilck Web Development Logo"
          width="257"
          height="69"
        />
      </a>
      <div class="flex gap-x-6 mt-8">
        <a
          href="https://github.com/angelokeirsebilck"
          target="_blank"
          class="group"
        >
          <svg
            class="transition-all duration-300 fill-green-default group-hover:fill-pink-default"
            width="26"
            height="25"
            viewBox="0 0 26 25"
            fill="inherit"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.0014 1.05657e-06C5.8688 -0.00282051 0.0917358 5.64596 0.0917358 12.6181C0.0917358 18.1314 3.70564 22.818 8.73858 24.5392C9.41637 24.7057 9.31254 24.2345 9.31254 23.9128V21.7261C5.39867 22.1747 5.24004 19.6409 4.97758 19.2177C4.44688 18.3317 3.19226 18.106 3.5672 17.6828C4.45842 17.2341 5.36694 17.7956 6.41968 19.3165C7.18111 20.4197 8.66648 20.2335 9.41925 20.0501C9.58365 19.387 9.93552 18.7945 10.4201 18.3346C6.36488 17.6235 4.67474 15.2026 4.67474 12.3246C4.67474 10.9279 5.14486 9.64412 6.06781 8.60861C5.47943 6.90156 6.12261 5.43999 6.20913 5.22272C7.88486 5.076 9.62691 6.3965 9.76247 6.5009C10.7143 6.24978 11.8016 6.11716 13.0187 6.11716C14.2416 6.11716 15.3319 6.25542 16.2923 6.50936C16.6182 6.26671 18.2334 5.13244 19.7909 5.27069C19.8745 5.48795 20.5033 6.91567 19.9495 8.60014C20.884 9.63848 21.3599 10.9336 21.3599 12.3331C21.3599 15.2167 19.6582 17.6404 15.5914 18.3402C15.9398 18.6753 16.2164 19.075 16.405 19.5158C16.5937 19.9567 16.6907 20.4299 16.6903 20.9078V24.0821C16.7134 24.336 16.6903 24.5872 17.123 24.5872C22.2309 22.9027 25.9082 18.1822 25.9082 12.6209C25.9082 5.64596 20.1283 1.05657e-06 13.0014 1.05657e-06Z"
              fill="inherit"></path>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/angelo-keirsebilck-a35977196/"
          target="_blank"
          class="group"
        >
          <svg
            class="transition-all duration-300 fill-green-default group-hover:fill-pink-default"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="inherit"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.1329 8.56739H13.6987V10.8417C14.3564 9.53367 16.0431 8.3584 18.5768 8.3584C23.434 8.3584 24.5872 10.9622 24.5872 15.7395V24.5872H19.6697V16.8274C19.6697 14.1069 19.012 12.5726 17.3376 12.5726C15.0154 12.5726 14.0503 14.2261 14.0503 16.8262V24.5872H9.1329V8.56739ZM0.700734 24.3782H5.61817V8.3584H0.700734V24.3782ZM6.32259 3.13486C6.32277 3.54704 6.24103 3.95513 6.08211 4.33544C5.92319 4.71574 5.69027 5.06067 5.39688 5.35017C4.80236 5.94102 3.99764 6.27176 3.15945 6.26972C2.32274 6.26916 1.51987 5.93927 0.924477 5.3514C0.63215 5.06091 0.400016 4.7156 0.241377 4.33525C0.0827376 3.95489 0.00071196 3.54697 0 3.13486C0 2.30259 0.331927 1.50596 0.925706 0.91833C1.52057 0.329663 2.32378 -0.000367837 3.16068 3.07665e-07C3.9991 3.07665e-07 4.8031 0.330698 5.39688 0.91833C5.98943 1.50596 6.32259 2.30259 6.32259 3.13486Z"
              fill="inherit"></path>
          </svg>
        </a>
        <!-- <a
          href="https://github.com/angelokeirsebilck"
          target="_blank"
          class="group"
        >
          <svg
            class="transition-all duration-300 fill-green-default group-hover:fill-pink-default"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="inhert"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.412842 12.3622C0.412842 18.4742 4.85185 23.5565 10.6575 24.5872V15.7081H7.5841V12.2936H10.6575V9.56133C10.6575 6.48794 12.6378 4.78118 15.4387 4.78118C16.3259 4.78118 17.2827 4.91743 18.1699 5.05368V8.19572H16.5994C15.0965 8.19572 14.7553 8.94665 14.7553 9.9035V12.2936H18.0336L17.4876 15.7081H14.7553V24.5872C20.561 23.5565 25 18.4752 25 12.3622C25 5.56284 19.4679 0 12.7064 0C5.94495 0 0.412842 5.56284 0.412842 12.3622Z"
              fill="inherit"></path>
          </svg>
        </a> -->
      </div>
    </div>
    <div class="col-span-full lg:col-span-6 mt-0 lg:mt-10">
      <div class="text-3xl text-white font-bebas mb-6">Menu</div>
      <ul class="columns-2">
        {
          navListNL.map((link) => (
            <li class="mb-2">
              <a
                class=" text-white transition-colors duration-300 hover:text-pink-default"
                href={link.uri}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-span-full lg:col-span-6 mt-0 lg:mt-10">
      <div class="text-3xl text-white font-bebas mb-6">Contact</div>
      <div class="flex mb-2">
        <span class="font-bold text-green-default inline-block mr-2">E</span>
        <a
          href="mailto:info@angelokeirsebilck.be"
          class="inline-block text-white transition-colors duration-300 hover:text-pink-default"
          >info@angelokeirsebilck.be</a
        >
      </div>
      <div class="flex mb-2">
        <span class="font-bold text-green-default inline-block mr-2">T</span>
        <a
          href="tel:+32472494296"
          class="inline-block text-white transition-colors duration-300 hover:text-pink-default"
          >+32 472 49 42 96</a
        >
      </div>
      <div class="flex mb-2">
        <span class="font-bold text-green-default inline-block mr-2">BTW</span>
        <span class="text-white">BE 000.000.000</span>
      </div>
    </div>
  </div>
</Container>
