---
import Nav from "@components/nav/Nav.astro";
import logo from "@assets/svg/angelo-keirsebilck-web-dev-black.svg";
import LangSwitcher from "@components/nav/LangSwitcher.astro";
// import Hamburger from "@components/nav/Hamburger.svelte";
import Hamburger from "@components/nav/Hamburger.astro";
const url = Astro.url;
const [, locale] = url.pathname.split("/");
---

<header
  class="bg-transparent border-b-3 fixed top-0 left-0 right-0 bg-white z-50 group/header border-black-default fix transform will-change-transform transition-transform duration-300 ease-in-out [&.headroom--not-top]:-translate-y-full [&.headroom--pinned]:translate-y-0"
>
  <div
    class="container group-[&.headroom--not-top]/header:py-3 py-6 duration-300 transition-all ease-in-out"
  >
    <div class="flex justify-between items-center">
      <a
        href={`/${locale}/`}
        rel="prefetch"
        class="block w-40 lg:w-[257px] group-[&.headroom--not-top]/header:w-40 transition-all duration-300 ease-in-out"
      >
        <img
          src={logo}
          alt="Angelo Keirsebilck Web Development Logo"
          width="257"
          height="69"
        />
      </a>
      <div class="flex gap-x-16 items-center">
        <!-- <Hamburger client:load /> -->
        <Hamburger />
        <Nav />
        <!-- <LangSwitcher /> -->
      </div>
    </div>
  </div>
</header>

<script>
  import Headroom from "headroom.js";

  var header = document.querySelector("header");
  var headroom = new Headroom(header, {
    offset: 117,
  });

  headroom.init();
</script>
