---
import Nav from "@components/nav/Nav.astro";
import logo from "@assets/svg/angelo-keirsebilck-web-dev-black.svg";
import LangSwitcher from "@components/nav/LangSwitcher.astro";
// import Hamburger from "@components/nav/Hamburger.svelte";
import Hamburger from "@components/nav/Hamburger.astro";
const url = Astro.url;
const [, locale] = url.pathname.split("/");
---

<header class="bg-white relative z-10">
  <div class="container py-6">
    <div class="flex justify-between items-center">
      <a href={`/${locale}/`} rel="prefetch" class="block w-40 lg:w-[257px]">
        <img
          src={logo}
          alt="Angelo Keirsebilck Web Development Logo"
          width="257"
          height="69"
        />
      </a>
      <div class="flex gap-x-16 items-center">
        <!-- <Hamburger client:load /> -->
        <Hamburger />
        <Nav />
        <!-- <LangSwitcher /> -->
      </div>
    </div>
  </div>
</header>
