---
import type { LinkType } from "@custom-types/ui";
import Link from "@components/ui/Link.astro";
import Container from "@components/base/Container.astro";

export interface Props {
  link?: LinkType;
}

const { link } = Astro.props;
---

<Container bgColor={"white"} firstBlock={true}>
  <div class="default-grid pb-3">
    <div class="col-span-full lg:col-span-9">
      <div class="text-2xl prose prose-custom">
        <slot name="text" />
      </div>

      {
        link && (
          <div class="mt-3 lg:mt-6 flex">
            <Link link={link} />
          </div>
        )
      }
    </div>
    <div class="col-span-full lg:col-span-9">
      <slot name="rightSide" />
    </div>
  </div>
</Container>
