---
import type { LinkType } from "@custom-types/ui";
import Link from "@components/ui/Link.astro";
import Container from "@components/base/Container.astro";

export interface Props {
  link?: LinkType;
}

const { link } = Astro.props;
---

<Container bgColor={"white"} firstBlock={true}>
  <div class="default-grid">
    <div class="col-span-full lg:col-span-9">
      <slot name="text" />

      {
        link && (
          <div class="mt-6 flex pb-3">
            <Link link={link} />
          </div>
        )
      }
    </div>

    <slot name="rightSide" />
  </div>
</Container>
