---
import { getCollection } from "astro:content";

import Container from "@components/base/Container.astro";
import ProjectsItem from "@components/blocks/projects/ProjectsItem.astro";
import TwicPic from "@components/base/TwicPic.astro";

const url = Astro.url;
const [, locale] = url.pathname.split("/");

const projects = await getCollection("projects", (project) => {
  const [pageLocale] = project.id.split("/");
  if (pageLocale == locale) {
    return project;
  }
});
---

<Container bgColor={"white"} extraClasses={"!mt-0"}>
  <TwicPic
    img={{
      src: "https://angelokeirsebilck.ams3.cdn.digitaloceanspaces.com/ak-astro%2Fimages%2F1x1.png",
      ratio: "none",
    }}
  />
  <div class="default-grid pb-3">
    {
      projects.map((project) => {
        return (
          <div class="col-span-full lg:col-span-9 xl:col-span-6">
            <ProjectsItem
              img={{
                src: project.data.thumbnailUrl,
                ratio: "1024:578",
                alt: `${project.data.title} Thumbnail`,
              }}
              link={{
                style: {
                  size: "small",
                  intent: "green",
                },
                uri: `/${project.slug}/`,
                label: "Bekijk project",
              }}
              color={"blue"}
              title={project.data.title}
              text={project.data.thumbnailText}
            />
          </div>
        );
      })
    }
  </div>
</Container>
