---
import Layout from "src/layouts/Layout.astro";
import HomeBanner from "@components/blocks/home/HomeBanner.astro";

import hi from "@assets/svg/hi.png";
import person from "@assets/svg/person-pc-illu.svg";
import blobWhite1 from "@assets/svg/blob-white-1.svg";

import TextMedia from "@components/blocks/TextMedia.astro";
import TwicPic from "@components/base/TwicPic.svelte";
import USP from "@components/blocks/USP.astro";

export const prerender = true;
---

<Layout title="Angelo Keirsebilck">
  <main>
    <HomeBanner>
      <h1
        class="font-bebas text-5xl flex justify-center items-center flex-col text-center lg:text-7xl max-w-2xl mb-8"
        slot="title"
      >
        <img
          src={hi}
          width="83"
          height="81"
          class="inline transformo -translate-y-1.5"
          alt="Hi svg illustration"
        />
        <div class="">
          Op zoek naar een <br /> website op <span class="underline-svg-1"
            >jouw maat?</span
          >
        </div>
      </h1>
      <div class="text-2xl mb-10" slot="intro">
        Met mijn persoonlijke aanpak en expertise komen we tot een resultaat die
        perfect past bij jouw bedrijf.
      </div>
    </HomeBanner>
    <TextMedia
      bgColor={"blue"}
      textPos={"left"}
      link={{
        label: "Meer over de werkwijze",
        uri: "/werkwijze",
        style: {
          intent: "pink",
          size: "medium",
        },
      }}
    >
      <div slot="blobs">
        <img
          src={blobWhite1}
          class="absolute -bottom-20 -left-[15%] lg:left-[50%]"
          width="378"
          height="200"
          alt="Random Blog"
        />
      </div>
      <h2 slot="title">
        Persoonlijke aanpak en performantie: de sleutel tot <span
          class="underline-svg-2"
          >succesvolle
        </span>
        <span class="underline-svg-2">websites</span>
      </h2>
      <div class="" slot="text">
        <p>
          Mijn focus ligt op het creëren van performante websites met een
          persoonlijke aanpak. Ik geloof dat elk project uniek is en daarom stel
          ik mijn klanten centraal bij het ontwerpen en ontwikkelen van hun
          website.
        </p>
        <p>
          Door gebruik te maken van de modernste technologieën, garandeer ik
          snelle laadtijden en een gebruiksvriendelijke interface voor een
          optimale gebruikerservaring.
        </p>
      </div>
      <div
        class="max-w-md flex justify-center items-center h-full mx-auto"
        slot="image"
      >
        <div class="w-full">
          <img
            src={person}
            alt=""
            width="448"
            height="305"
            alt="Illustration of person sitting infront of a computer."
          />
        </div>
      </div>
    </TextMedia>
    <!-- <TextMedia
      bgColor={"white"}
      textPos={"right"}
      link={{
        label: "Meer over de werkwijze",
        uri: "/werkwijze",
        style: {
          intent: "green",
          size: "medium",
        },
      }}
    >
      <h2 slot="title">
        Persoonlijke aanpak en performantie: de sleutel tot <span
          class="svg-underline-2">succesvolle websites</span
        >
      </h2>
      <div class="" slot="text">
        <p>
          Mijn focus ligt op het creëren van performante websites met een
          persoonlijke aanpak. Ik geloof dat elk project uniek is en daarom stel
          ik mijn klanten centraal bij het ontwerpen en ontwikkelen van hun
          website.
        </p>
        <p>
          Door gebruik te maken van de modernste technologieën, garandeer ik
          snelle laadtijden en een gebruiksvriendelijke interface voor een
          optimale gebruikerservaring.
        </p>
      </div>
      <div class="" slot="image">
        <div class="w-full h-full">
          <TwicPic
            ratio={"4:5"}
            src="https://angelokeirsebilck.ams3.cdn.digitaloceanspaces.com/payloadcms/test-01/images/nubelson-fernandes-UcYBL5V0xWQ-unsplash.jpg"
            client:load
          />
        </div>
      </div>
    </TextMedia> -->
    <USP bgColor={"white"} />
  </main>
</Layout>
