---
import Layout from "src/layouts/Layout.astro";
import HomeBanner from "@components/blocks/home/HomeBanner.astro";

import hi from "@assets/svg/hi.png";
import TextMedia from "@components/blocks/TextMedia.astro";
import TwicPic from "@components/base/TwicPic.svelte";

export const prerender = true;
---

<Layout title="Angelo Keirsebilck">
  <main>
    <HomeBanner>
      <h1 class="font-bebas text-5xl lg:text-7xl max-w-2xl mb-8" slot="title">
        <img
          src={hi}
          class="inline w-[55px] lg:w-auto"
          alt="Hi svg illustration"
        />, Op zoek naar een <br /> website op <span class="underline-svg-1"
          >jouw maat?</span
        >
      </h1>
      <div class="text-2xl mb-10" slot="intro">
        Met mijn persoonlijke aanpak en expertise komen we tot een resultaat die
        perfect past bij jouw bedrijf.
      </div>
    </HomeBanner>
    <TextMedia
      bgColor={"blue"}
      textPos={"left"}
      link={{
        label: "Meer over de werkwijze",
        uri: "/werkwijze",
        style: {
          intent: "pink",
          size: "medium",
        },
      }}
    >
      <h2 slot="title">
        Persoonlijke aanpak en performantie: de sleutel tot succesvolle websites
      </h2>
      <div class="" slot="text">
        <p>
          Mijn focus ligt op het creëren van performante websites met een
          persoonlijke aanpak. Ik geloof dat elk project uniek is en daarom stel
          ik mijn klanten centraal bij het ontwerpen en ontwikkelen van hun
          website.
        </p>
        <p>
          Door gebruik te maken van de modernste technologieën, garandeer ik
          snelle laadtijden en een gebruiksvriendelijke interface voor een
          optimale gebruikerservaring.
        </p>
      </div>
      <div
        class="max-w-md flex justify-center items-center h-full mx-auto"
        slot="image"
      >
        <TwicPic client:load />
      </div>
    </TextMedia>
  </main>
</Layout>
