---
import type { BackgroundColor } from "@custom-types/index";
import { useGetBgColor } from "@utils/useGetBackgroundColor";
import { useGetSpacing } from "@utils/useGetSpacing";

export interface Props {
  bgColor: BackgroundColor;
  firstBlock?: boolean;
  extraClasses?: string;
  id?: string;
}

const { bgColor, firstBlock, extraClasses, id } = Astro.props;
---

<div
  id={id}
  class:list={[
    useGetBgColor(bgColor),
    useGetSpacing(bgColor, firstBlock),
    bgColor !== "white" ? "border-y-3 border-black-default" : "",
    "overflow-hidden relative ",
    extraClasses,
  ]}
>
  <slot name="blobs" />
  <div class="container">
    <slot />
  </div>
</div>
