---
import illu404 from "@assets/svg/404.svg";
import Container from "@components/base/Container.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="No page found">
  <div class="container">
    <img src={illu404} alt="" />
    <a href="/">Home</a>
  </div>
</Layout>
