---
import Link from "@components/ui/Link.astro";
import arrowPointer from "@assets/svg/arrow-1.svg";
import lines from "@assets/svg/lines-homebanner.svg";
import face from "@assets/svg/face.svg";
import blob1 from "@assets/svg/blob-pink-1.svg";
---

<!-- <img
  src={lines}
  class="absolute -left-0 w-screen top-0 transform"
  alt="Lines"
/> -->
<div class="relative overflow-hidden">
  <img src={face} class="absolute bottom-0 right-[15%]" alt="Lines" />
  <img
    src={blob1}
    class="absolute right-0 -bottom-[40px]"
    alt="Pointing arrow"
  />
  <div
    class="container flex overflow-hidden flex-col items-center max-w-4xl justify-center text-center py-32 xmin-h-[calc(100vh_-_117px)]"
  >
    <slot name="title" />

    <slot name="intro" class="inline" />

    <div class="relative flex">
      <img
        src={arrowPointer}
        class="absolute -left-36 top-12 transform -rotate-[45deg]"
        alt="Pointing arrow"
      />
      <Link
        link={{
          extraClasses: "transform rotate-[-1deg]",
          style: { intent: "pink", size: "medium" },
          uri: "/contact",
          label: "Maak vrijbijvend een afspraak",
        }}
      />
    </div>
  </div>
</div>
