---
---

<button
  class="flex flex-col gap-y-1 w-10 group lg:hidden js-hamburger"
  aria-label="Menu hamburger button"
>
  <div
    class="h-[6px] bg-white border-2 border-black-default shadow-neo-2px w-full transition-transform duration-300 transform origin-right lg:group-hover:scale-x-[85%]"
  >
  </div>
  <div
    class="h-[6px] bg-white border-2 border-black-default shadow-neo-2px w-full transition-transform duration-300 transform origin-right lg:group-hover:scale-x-[70%]"
  >
  </div>
  <div
    class="h-[6px] bg-white border-2 border-black-default shadow-neo-2px w-full transition-transform duration-300 transform origin-right lg:group-hover:scale-x-[90%]"
  >
  </div>
</button>

<script>
  import { gsap } from "gsap";
  const mobileNavLinks = gsap.utils.toArray(".js-navMobileLink");
  const socialLinksParent = document.querySelector(".js-mobileSocials");
  let socialLinks: [];
  if (socialLinksParent) {
    socialLinks = gsap.utils.toArray("a", socialLinksParent) as [];
  }

  const hamburger = document.querySelector(".js-hamburger");
  if (hamburger) {
    hamburger.addEventListener("click", () => {
      document.querySelector(".js-mobileNav")?.classList.toggle("navOpen");
      const tl = gsap.timeline();

      tl.to(mobileNavLinks, {
        opacity: 1,
        duration: 0.2,
        stagger: 0.1,
      })
      .to(socialLinks, {
        opacity: 1,
        duration: 0.2,
        stagger: 0.1,
      });
    });
  }
</script>
