---
import { useGetBgColor } from "@utils/useGetBackgroundColor";

export interface Props {
  color: "green" | "pink" | "blue";
  title?: string;
}

const { color, title } = Astro.props;
---

<div
  class="flex flex-col h-full border-black-default border-4 rounded-20 shadow-neo-4px"
>
  <div
    class:list={[
      "border-b-4 border-black-default rounded-t-[16px]",
      useGetBgColor(color),
    ]}
  >
    <div class="py-4 ml-8 flex items-center">
      <div class="prose prose-custom">
        <h3 class="mb-0">{title}</h3>
      </div>
    </div>
  </div>
  <div class="h-full">
    <slot name="content" />
  </div>
</div>
